<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target
			name="LogFile"
			xsi:type="File"
			layout="${longdate} [${uppercase:${level:padding=-5}}] ${message} ${exception:format=tostring}"
			fileName="${basedir}Logs\${date:format=yyyyMMdd}.log"
			encoding="UTF-8"
			archiveFileName="${basedir}Logs\archives\archive.{#}.log"
			archiveEvery="Day"
			archiveNumbering="Rolling"
			maxArchiveFiles="7"
			header="[Start Logging]"
			footer="[End Logging]${newline}"  />
		<target name="LogConsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="LogConsole" />
		<logger name="*" minlevel="Info" writeTo="LogConsole" />
		<logger name="*" minlevel="Error" writeTo="LogFile" />
		<logger name="*" minlevel="Debug" writeTo="LogFile" />
	</rules>
</nlog>
