@{
	Layout = "_LayoutDashboard";
	ViewData["page-scripts"] = new string[] { "hena/js/pages/campaigns/reports.js" };
	ViewData["page-id"] = "page-campaigns";
}


<h1>PAGE-DASHBOARD-CAMPAIGNS-REPORTS</h1>

<div class="btn btn-primary">
	<a href="@Url.Action("Create", "Campaigns")">New Campaign</a>
</div>

