@using Hena;
@using Hena.Shared.Data;
@using Hena.Security.Claims;

@{
	Layout = "_LayoutDashboard";
	//ViewData["page-scripts"] = new string[] { "hena/js/pages/dashboard/index.js" };
	ViewData["page-id"] = "page-change-password";
}

<section class="panel">

	<header class="panel-heading">
		<h4 class="">Profile</h4>
	</header>
	<div class="panel-body">
		<form action="@Url.Action("ChangePassword", "User")" method="post" class="form-horizontal tasi-form">
			<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" placeholder="" name="password">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">New Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" placeholder="" name="newPassword">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Confirm Password</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" placeholder="" name="confirmPassword">
				</div>
			</div>

			@if (ViewData.ModelState.ErrorCount > 0)
			{
				<div class="form-group">
					<div class="alert alert-danger">
						@Html.ValidationSummary()
					</div>
				</div>
			}

			<button type="submit" class="btn btn-primary" placeholder="">Update</button>
		</form>
	</div>
</section>
