@using Hena;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@using Microsoft.Extensions.Configuration;
@using Microsoft.Extensions.DependencyInjection;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="HENA Cryptocurrency Team">
	<link rel="shortcut icon" href="~/dashboard/img/favicon.png">

	<title>Hena AIC</title>

	<!-- Bootstrap core CSS -->
	<link href="~/dashboard/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/dashboard/css/bootstrap-reset.css" rel="stylesheet">

	<!--external css-->
	<link href="~/dashboard/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
	<link href="~/dashboard/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/dashboard/css/owl.carousel.css" rel="stylesheet" type="text/css">

	<!--right slidebar-->
	<link href="~/dashboard/css/slidebars.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="~/dashboard/css/style.css" rel="stylesheet">
	<link href="~/dashboard/css/style-responsive.css" rel="stylesheet" />

	<!-- Hena styles -->
	<link href="~/hena/css/util.css" rel="stylesheet">



	<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
	<!--[if lt IE 9]>
	  <script src="~/dashboard/js/html5shiv.js"></script>
	  <script src="~/dashboard/js/respond.min.js"></script>
	<![endif]-->
</head>
<body class="login-body">
	<div class="container">
		<form class="form-signin" action="index.html">
			<h2 class="form-signin-heading">sign up</h2>
			<div class="login-wrap">
				<div>
					<input type="text" class="form-control " placeholder="EMail" autofocus>
					<span><i class="fa fa-check "></i></span>
					
				</div>
				
				<input type="password" class="form-control" placeholder="Password">
				<button class="btn btn-lg btn-send btn-block" type="button">VERIFY E-MAIL</button>

				<section id="group-signup" class="p-t-15">
					<input type="text" class="form-control" placeholder="VERIFY CODE">
					<button class="btn btn-lg btn-login btn-block" type="button">SIGN UP</button>
				</section>
			</div>
		</form>
	</div>

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="~/dashboard/js/jquery.js"></script>
	<script src="~/dashboard/js/bootstrap.min.js"></script>

</body>
</html>
