

@{
	Layout = "_LayoutDashboard";
	ViewData["page-scripts"] = new string[] { "hena/js/pages/dashboard/index.js" };
	ViewData["page-id"] = "page-dashboard";

}


<h1>PAGE-DASHBOARD</h1>

<h3>캠페인</h3>
<button id='btn-campaign-create' class="btn btn-primary">New Campaign</button>
<button id='btn-campaign-modify' class="btn btn-primary">Modify Campaign</button>
<button id='btn-campaign-delete' class="btn btn-primary">Delete Campaign</button>
