@using Hena;
@using Hena.Shared.Data;
@using Hena.Security.Claims;

@{
	Layout = "_LayoutDashboard";
	ViewData["page-scripts"] = new string[] { "hena/js/pages/dashboard/index.js" };
	ViewData["page-id"] = "page-dashboard";

}
<h1>DASHBOARD</h1>

<div class="container">
	<div >
		<a href="#" id="ad-link" target="_blank">
			<img id="img-ad" width="300" height="250" />
		</a>
	</div>
	<div id="btn-refresh" class="btn btn-primary" >Refresh</div>	
</div>
